// Primary colors

$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);

// Neutral colors

$veryPale: hsl(225, 100%, 98%);
$desaturated: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

/// Body Copy

$paragraphSize: 16px;

/// Font

// $fontamily: (https://fonts.google.com/specimen/Red+Hat+Display);

$weights: (
  "tin":300,
  "regular": 500,
  "mediun": 700,
  "bold": 900,
);
